html, body, head{
	font-family: 'Poppins', sans-serif;
	background-image: url(images/bg-intro-desktop.png);
	background-color: hsl(0, 100%, 74%) ;
}
p{
	color: white;
	font-size: 40px;
	font-weight: bolder;
}
.see{
	color: white;
}
.trial{
	background-color: hsl(248, 32%, 49%);
	border: 5px solid hsl(248, 32%, 49%);
	height: 65px;
	text-align: center;
	border-radius: 10px;
	color: white;
	margin-top: 20px;

	
}
.reg{
	background-color: white;
	border: 5px solid white;
	margin-top: 20px;
	border-radius: 10px;
}
.form-group{
	margin: 0px 20px 0px 20px;
}

.container{
	margin-top: 100px;
}
.col-md-4{
	margin-top: 130px;

}
.terms{
	color: hsl(246, 25%, 77%);
	margin-left:  70px;
	font-size: 13px;
	margin-bottom: 50px;
	margin-top: 20px;
}
/* query to adjust margins, for small screen sizes*/
@media all and (max-width: 375px){
	.col-md-4{
		margin-top: 0px;
	}
}
@media all and (max-width: 375px){
	.container{
		margin-top: 10px;
	}
}
@media all and (max-width: 375px){
	p{
		line-height: 40px;
	}
}
 .container .btn{
	
	margin: inherit;
	background-color:  hsl(154, 59%, 51%);
	height: 70px;
	width: 490px;
	margin-left: 20px;


}
.container .btn:hover {
	background-color: hsl(154, 59%, 51%)
}
@media all and (max-width: 375px){
	.container .btn{
		width: 290px;
	}
}